.container-fluid {
  height: 100vh;
  /* Setzt die Höhe auf 100% des Viewports */
  display: flex;
  flex-direction: column;
}

.row {
  flex-grow: 1;
  /* Lässt die row den verfügbaren Platz ausfüllen */
  overflow: hidden;
  /* Verhindert unerwünschtes Scrollen */
}

.chat-list, .chat-window {
  overflow-y: auto;
  /* Ermöglicht vertikales Scrollen */
  max-height: 100%;
  /* Stellt sicher, dass es sich innerhalb der Grenzen des Elternelements befindet */
}